// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css');
@import url('~vuetify/dist/vuetify.min.css');

// Variables
// @import 'variables';

// Vuetify
#module-change {
    // @import "~vuetify-scss";

    .v-card {
        & .v-sheet {
            background: #161D2D;
        }
    }
}
